.contenedorPrincipal{
    -fx-background-color: linear-gradient(to bottom, #ffffff, #D5E4CF);
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-spacing: 15px;
}
.labelTitulo{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black", sans-serif;
    -fx-text-fill: #499C70;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.5, 0, 2);
    -fx-animation: fade-in 2s ease-out 0.5s forwards, move-down 2s ease-out 0.5s forwards;

}
.labelTexto{
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #333333;
    -fx-alignment: center; /* Center-align the text */
    -fx-animation: fade-in 1.5s ease-out 0.8s forwards;

}
.botonComenzar{
    -fx-font-size: 16px;
    -fx-font-family: "Verdana", sans-serif;
    -fx-background-color: #499C70;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.botonComenzar:hover{
    -fx-font-size: 16px;
    -fx-font-family: "Verdana", sans-serif;
    -fx-background-radius: 8px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-animation: fade-in 2s ease-out 1.2s forwards;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0.5, 0, 2);
}
.imagenMenu{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 4);
    -fx-animation: fade-in 2s ease-out 1s forwards;
}
